body{
    background-color:#bdc3c7;
}
h1{
    color:#9b59b6;
}

div{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding:20px;
    border:1px solid black;
}

div:nth-child(3){
    flex-direction: column;
}

div:nth-child(4){
    flex-direction: row-reverse;
}

div p:nth-child(3){
    order:1;
}


div > *{
    margin:20px;
}

p{
    padding:10px;
}

h2{
    color:orange;
}

li{
    color:blue;
}
p{
    background-color:yellow;
}
input{
    border:3px solid red;
}
.hello{
    background-color: white;
}
#special{
    border: 2px solid blue;
}

div p {
    font-size:25px;
}

input[type=text]{
    background:gray;
}

div:nth-child(5) p{
    background:pink;
}
div:nth-child(5) p:nth-child(3){
    border:5px solid white;
}

div:nth-child(5) em{
    color:white;
    font-size:20px;
}

input[checked]{
    margin-left:50px;
}

label{
    text-transform: uppercase;
}

#special::first-letter{
    color:green;
    font-size:100px;
}
h1:hover{
    color:blue;
}

a:visited{
    color:gray;
}
